agents/n8n-workflows/leo-think.json
{
  "name": "AAE Leo Think",
  "nodes": [
    {
      "parameters": {
        "content": "## AAE Leo Think\nAttach OpenAI credential after import.\nWebhook: POST /webhook/leo-think\nLoad systemPrompt: GET /api/agents/search?department=Core&name=leo then GET /api/agents/{identityId}\nCallbacks: https://ai.neberg.de/api/agents/route-chat-message",
        "height": 280,
        "width": 400
      },
      "id": "leo-sticky-1",
      "name": "Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leo-think",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "leo-webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [280, 300],
      "webhookId": "aae-leo-think"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const BACKEND_BASE = 'https://ai.neberg.de';\nfunction normalizeWebhookBody(body) {\n  const b = body ?? {};\n  return {\n    threadId: b.threadId ?? b.ThreadId ?? '',\n    chatHistory: b.chatHistory ?? b.History ?? b.history ?? [],\n    userVision: b.userVision ?? b.UserVision ?? '',\n  };\n}\nfunction buildLeoPrompt({ userVision, chatHistory }) {\n  return [\n    'You are Leo, AAE CEO orchestrator. Output ONLY JSON.',\n    'Decompose the vision into supervisor-level delegations (or helga hr_request).',\n    'Never use the word teamleiter; use supervisor-* agent ids.',\n    'Schema: {\"delegations\":[{\"targetAgentId\":\"supervisor-...|helga\",\"intent\":\"delegation|hr_request\",\"message\":\"...\",\"moduleScope\":\"Module.X\"}]}',\n    `Vision: ${userVision}`,\n    `History: ${JSON.stringify(chatHistory ?? [])}`,\n  ].join('\\n');\n}\nconst raw = items[0].json.body ?? items[0].json;\nconst n = normalizeWebhookBody(raw);\nreturn [{\n  json: {\n    ...n,\n    prompt: buildLeoPrompt(n),\n    BACKEND_BASE,\n  }\n}];"
      },
      "id": "leo-code-normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ai.neberg.de/api/agents/search?department=Core&name=leo",
        "options": {}
      },
      "id": "leo-http-search",
      "name": "Search Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const search = items[0].json;\nconst page = search.body ?? search;\nconst list = page.items ?? page.Items ?? [];\nif (!Array.isArray(list) || list.length === 0) {\n  throw new Error('leo_identity_not_found');\n}\nconst first = list[0];\nconst identityId = first.identityId ?? first.IdentityId;\nif (!identityId) {\n  throw new Error('leo_identity_id_missing');\n}\nconst prev = $('Normalize Input').first().json;\nreturn [{ json: { ...prev, identityId } }];"
      },
      "id": "leo-code-resolve-id",
      "name": "Resolve Identity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://ai.neberg.de/api/agents/{{ $json.identityId }}",
        "options": {}
      },
      "id": "leo-http-get-prompt",
      "name": "Get System Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const agent = items[0].json;\nconst body = agent.body ?? agent;\nconst systemPrompt = body.systemPrompt ?? body.SystemPrompt ?? '';\nif (!systemPrompt) {\n  throw new Error('leo_system_prompt_missing');\n}\nconst prev = $('Resolve Identity').first().json;\nreturn [{ json: { ...prev, systemPrompt } }];"
      },
      "id": "leo-code-prepare",
      "name": "Prepare Agent Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "leo-agent-1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "id": "leo-openai-1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1600, 520]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function parseJsonMaybe(text) {\n  if (text == null) return null;\n  if (typeof text === 'object') return text;\n  const raw = String(text).trim();\n  const fenced = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  const candidate = fenced ? fenced[1].trim() : raw;\n  try { return JSON.parse(candidate); } catch { return null; }\n}\nfunction assertNoTeamleiter(id) {\n  return !String(id).toLowerCase().includes('teamleiter');\n}\nfunction parseLeoDelegations(agentOutput, threadId) {\n  const obj = parseJsonMaybe(agentOutput);\n  if (!obj || !Array.isArray(obj.delegations) || obj.delegations.length === 0) {\n    return { ok: false, error: 'invalid_leo_output', userMessage: 'Leo could not produce valid delegations.' };\n  }\n  const itemsOut = [];\n  for (const d of obj.delegations) {\n    if (!d?.targetAgentId || !assertNoTeamleiter(d.targetAgentId)) {\n      return { ok: false, error: 'invalid_target', userMessage: 'Leo produced an invalid targetAgentId.' };\n    }\n    const scope = d.moduleScope ? ` [scope=${d.moduleScope}]` : '';\n    const intent = d.intent ? ` (${d.intent})` : '';\n    itemsOut.push({\n      threadId,\n      senderAgentId: 'leo',\n      targetAgentId: d.targetAgentId,\n      content: `${d.message ?? ''}${intent}${scope}`.trim(),\n    });\n  }\n  return { ok: true, items: itemsOut };\n}\nfunction buildFailureRoute({ threadId, senderAgentId, content }) {\n  return { threadId, senderAgentId, targetAgentId: 'User', content };\n}\nconst prev = $('Normalize Input').first().json;\nconst agentItem = items[0].json;\nconst agentText = agentItem.output ?? agentItem.text ?? agentItem;\nconst parsed = parseLeoDelegations(agentText, prev.threadId);\nif (!parsed.ok) {\n  return [{ json: { ok: false, routeBody: buildFailureRoute({ threadId: prev.threadId, senderAgentId: 'leo', content: parsed.userMessage }) } }];\n}\nreturn [{ json: { ok: true, items: parsed.items } }];"
      },
      "id": "leo-code-parse",
      "name": "Parse Delegations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "leo-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "leo-if-1",
      "name": "OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2060, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "leo-split-1",
      "name": "Split Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [2300, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai.neberg.de/api/agents/route-chat-message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ threadId: $json.threadId, senderAgentId: $json.senderAgentId, targetAgentId: $json.targetAgentId, content: $json.content }) }}",
        "options": {}
      },
      "id": "leo-http-ok",
      "name": "Route Chat Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2540, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai.neberg.de/api/agents/route-chat-message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.routeBody) }}",
        "options": {}
      },
      "id": "leo-http-fail",
      "name": "Route Failure To User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]]
    },
    "Normalize Input": {
      "main": [[{ "node": "Search Agent", "type": "main", "index": 0 }]]
    },
    "Search Agent": {
      "main": [[{ "node": "Resolve Identity", "type": "main", "index": 0 }]]
    },
    "Resolve Identity": {
      "main": [[{ "node": "Get System Prompt", "type": "main", "index": 0 }]]
    },
    "Get System Prompt": {
      "main": [[{ "node": "Prepare Agent Input", "type": "main", "index": 0 }]]
    },
    "Prepare Agent Input": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Parse Delegations", "type": "main", "index": 0 }]]
    },
    "Parse Delegations": {
      "main": [[{ "node": "OK?", "type": "main", "index": 0 }]]
    },
    "OK?": {
      "main": [
        [{ "node": "Split Items", "type": "main", "index": 0 }],
        [{ "node": "Route Failure To User", "type": "main", "index": 0 }]
      ]
    },
    "Split Items": {
      "main": [[{ "node": "Route Chat Message", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
